.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .login-button {
    background-color: orange;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  